body{
    background-color: lightpink;
    color: black;
    font-family: "georgia";
    letter-spacing: 1px;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 10%;
    height: auto;
    max-width: 150px;

    border-radius: 50%;
    border: 5px solid black;
    
}

.profile-name {
    text-align: center;

    padding: 30px;
    font-size: 35px;

}

.links {
    text-align: center;
    margin-top: 20px;
    border: 10px solid black;
    border-width: 2px;
    padding: 20px;

    background-color: mistyrose;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 40px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.1s;
}

a:hover {
    color: rgb(255, 0, 170);
    background-color: lightgoldenrodyellow;
}